@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-gradient-to-r: linear-gradient(to right, #FF8100, #FFBE71);
  --bg-clip-text: text;
  --text-transparent: transparent;
}

.text-gradient {
  background: var(--bg-gradient-to-r);
  -webkit-background-clip: var(--bg-clip-text);
  background-clip: var(--bg-clip-text);
  color: var(--text-transparent);
}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* WebKit browsers */
}